@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {

  /*========== Colors ==========*/
  color: #e7e2e2;
  background-color: #323232;

  /*========== Font and typography ==========*/
  font: "Poppins", sans-serif;
  --h1-font-size: 70px;
  --h2-font-size: 45px;
  --h3-font-size: 20px;
  --normal-font-size: 16px;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margins ==========*/
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

.section {
  padding: 1.5rem;
}

.section-title {
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  text-transform: uppercase;
  letter-spacing: 0.35rem;
  text-align: center;
  margin-bottom: var(--mb-3);
}



