.home {
  position: relative;
}

.home-container {
  gap: 3rem;
}

.home-data {
  gap: 0.5rem;
  text-align: center;
}

.home-title {
  font-size: var(--h1-font-size);
}

.home-profession {
  font-size: var(--h2-font-size);
}

.home-info {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--normal-font-size);
  gap: 2rem;
}

.profile-descript{
    text-align: center;
}

p {
  font-size: var(--normal-font-size);
}
